.has-banner-image {
	.banner-image {
		.slogan {
			position: relative;
			z-index: 3;
			color: #fff;
			max-width: 430px;
			margin: 0 auto;
        }
        blockquote {
            margin: 0 0 15px 0;
            font-size: 18px;
            font-weight: bold;
        }
        .slogan-author {
            b {
                font-size: 14px;
                font-weight: bold;
            }
            font-size: 14px;
        }
	}
}

