.btn{
    height:60px;
}
.register-now-btn {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: $primary;
    background: #fff;
    text-transform: uppercase;
    padding: 18px 60px;
    display: inline-block;
    @include phone-only()  {
        padding: 18px 30px;
        display: inline-flex;
        font-size:13px;
        height:40px;
    }
}




.dropdown-menu {
    font-size: 13px; 
}