.default-padding{
    padding:70px 0;
}

.registernow-wrap {
    background-image: linear-gradient(to left, #6f37bf, #b82ebf 0%);

    .registernow-content {
        text-align: center;
        color: $color__white;
        width: 510px;
        margin: auto;

        .register-now-title {
            font-size: 40px;
            font-weight: 800;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            text-align: center;
            color: $color__white;
            margin-bottom: 20px;

            span {
                font-size: 30px;
            }
        }

        .text {
            font-size: 14px;
            font-weight: bold;
            line-height: 2;
            letter-spacing: normal;
            color: $color__white;
            margin-bottom: 30px;
        }
    }
}

.footer-menu-listing {
    border-bottom: solid 1px #f0f0f0;
    padding-bottom: 30px;
}

.footer-menu-item {
    .footer-title {
        font-size: 15px;
        font-weight: bold;
        line-height: 2;
        color: #303030;
        text-transform: capitalize;
    }

    .footer-items {
        list-style: none;
        padding-left: 0;
    
        li {
            margin-bottom: 10px;
    
            a {
                font-size: 13px;
                font-weight: normal;
                color: #303030;
            }
        } 
    }
}

.text-style {
    font-weight: bold;
}

.green-text {
    color: $primary;
}

.pink-text {
    color: $secondary;
}

.blue-text {
    color: #6f37bf;
}

.social-share {
    display: flex;
    list-style: none;

    li {
        padding: 0 5px;
    
        a {
            color: #594138;
            font-size: 15px;
        }
    }
}

.footer-site-menu {
    padding-left: 0;
    display: flex;
    list-style: none;

    li {
        padding-right: 30px;

        a {
            font-size: 12px;
            font-weight: normal;
            color: #707070; 
        }
    }
}

.copyright-section {
    padding-bottom: 40px;

    .copyright-text {
        font-size: 12px;
        font-weight: normal;
        color: #707070;
    }
}

// jobpage
.brand-logo {
	border-right: 1px solid #f1f1f1;
	padding-right: 15px;
}
.main-header {
	.navbar {
        padding:15px;
		li {
			a {
				color: #484848;
				font-size: 13px;
				font-weight: normal;
			}
			padding: 0 30px;
		}
	}
}
.site-navbar {
	padding: 15px 15px;
}
.main-header {
	.navbar {
		li {
			&:first-child {
				padding-left: 15px;
			}
		}
	}
}
.menu-profile.media {
	h6 {
		margin-bottom: 0;
	}
}


.job-search-section {
	background-image: linear-gradient(to left, #6f37bf, #b82ebf 0%);
	padding: 15px 0;
	input {
		margin-bottom: 0 !important;
		border-radius: 2px;
	}
	button[type="submit"] {
		height: 60px;
		min-width: 200px;
		border-radius: 2px;
        font-weight: bold;
        margin-bottom: 0 !important;
        justify-content: center;
	}
}
.job-search-section{
    .col {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
}
.placeholder-text {
	font-size: 14px;
	font-weight: normal;
	color: #5f5f5f;
}


// job-card

.meta-tag {
	position: absolute;
	border-radius: 2px;
	padding: 5px 12px;
	top: 0;
	left: 0;
}
.card.job-card {
	padding: 40px 20px 20px;
    display: inline-flex;
    max-width: 370px;
    border-radius: 2px;
    border: solid 1px #e0e0e0;
	.card-body {
		padding: 0;
		max-width: 370px;
	}
}
.job-card {
	.card-tags {
		font-size: 12px;
		font-weight: normal;
		color: #303030;
		display: inline-block;
		margin-bottom: 5px;
	}
	.card-title {
		font-size: 15px;
		font-weight: bold;
		color: #594138;
		margin-bottom: 40px;
	}
	.card-subtitle {
		font-size: 12px;
		font-weight: bold;
		color: #303030 !important;
		margin-bottom: 10px;
	}
	.card-text {
		font-size: 12px;
		color: #707070;
		font-weight: normal;
        line-height: 1.67;
        margin-bottom: 20px;
    }
    .card-link {
        color: #594138;
        font-size: 16px;
    }    
}

.job-card.active {
    border: solid 1px #b82ebf;
}

// jobpage main-title

.job-main-header {
	display: flex;
	align-items: flex-end;
    margin-bottom: 15px;
	span {
		display: inline-block;
		padding-left: 20px;
		font-weight: bold;
		font-size: 14px;
		color: #303030;
	}
}
.job-detail-title {
	font-weight: 800;
	font-size: 30px;
	color: #594138;
	margin-top: 0;
	margin-bottom: 0;
}

// dropdown-btn

.btn-dropdown {
	border-radius: 2px;
	background-color: #ececec;
	font-size: 11px;
	font-weight: normal;
    padding: 12px 18px;
    height:auto;
}
.btn-dropdown.dropdown-toggle {
	&::after {
		margin-left: 10px;
	}
}


.job-detail-card {
    border-radius: 2px 2px 0 0;
    border: solid 1px #e0e0e0;
    
    .list-unstyled{
        font-size:13px;
    }
    .card-header {
        padding: 30px 30px 80px;
    }
    .card-title {
		font-size: 20px;
		color: #594138;
		font-weight: bold;
		margin-bottom: 30px;
	}
	.card-tags {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.card-subtitle {
		font-size: 12px;
		font-weight: bold;
		color: #303030;
		margin-bottom: 20px !important;
    }
    p {
        font-size: 13px;
        color: #0c4018;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 13px;
        color: #0c4018;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
	.btn {
		height: 50px;
		font-size: 14px;
		font-weight: bold;
		min-width: 240px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
    }
    .text-muted{
        color:#303030 !important;
    }
    .card-body{
        padding: 0 30px 0;
        line-height: 2;
    }
}


// bootstrap tab

.nav-tabs {
	border: 0;
    margin-bottom: 25px;
    margin-top: -45px;
    margin-left: -15px;
    margin-right: -15px;
    .nav-link.active {
		background: transparent;
        border: 0;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 0px;
            background: #24bf49;
            height: 2px;
            width: 100%;
        }
	}
	.nav-item {
		margin-bottom: -1px;
		padding: 0;
		margin: 0 15px;
	}
	.nav-link.active {
        position:relative;
		background: transparent;
		border: 0;
	}
	.nav-item.show {
		.nav-link {
			background: transparent;
			border: 0;
		}
	}
	.nav-link {
        border:0;
        padding: 10px 0;
        position:relative;
		&:hover {
			border: 0;
		}
		&:focus {
            border: 0;
            outline:none;
		}
	}
	a {
		font-size: 12px;
		color: #808080;
		font-weight: bold;
	}
}

// styling job profile page
.user-profile-thumb {
	width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
.job-profile-wrap {
	padding: 40px 0;
}
.user-profile-info {
    padding-top: 40px;
    padding-bottom: 60px;
    
	h2 {
		font-size: 30px;
		font-weight: bold;
		color: #303030;
		margin-bottom: 15px;
	}
	p {
        margin-bottom: 0;
		a {
			font-size: 14px;
            color: #404040;
            display:inline-block;
            padding-right: 30px;
		}
	}
	
}


// user profile feature block

.user-profile-feature-block {
	h3 {
		font-size: 18px;
		font-weight: bold;  
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 30px;
		font-size: 13px;
	}
	padding-bottom: 30px;
	ul {
		list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li{
            border-bottom: 1px solid #ccc;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
	}
	h4 {
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.meta-data {
		font-size: 12px;
		margin-bottom: 30px;
	}
}

.user-profile-feature-block.education-block {
	li {
		&:last-child {
			border-bottom: 0;
		}
	}
}

.user-profile-feature-block.skill-block {
	max-width: 700px;
	h3 {
		font-size: 18px;
	}
	.badge {
		font-size: 13px;
		font-weight: normal;
		background: #f1f1f1;
		color: #303030;
		padding: 9px 25px;
		border-radius: 30px;
		margin-right: 15px;
		display: inline-block;
		margin-bottom: 20px;
	}
}

// styling header employers
.employers {
    font-weight: bold;
    color: #484848;
    font-size: 13px;
}


