.default-spacing{
    padding:40px 0;
}
.main-header {
    position: relative;
    z-index: 9;
    background-color: $color__white;

    .navbar {
        padding: 3px 30px;

        &.no-menu {
            padding: 17.5px 30px;  
        }

        .brand-logo {
            border-right: 1px solid #f1f1f1;
            padding-right: 15px;
            line-height: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }

		.navbar-nav > li {
            padding: 12px 30px;

            &:first-child {
				padding-left: 15px;
            }
             
			a {
				color: #484848;
                font-weight: normal;
                
                &:hover {
                    color: $primary;
                }
            }
            
            &.active a {
                color: $primary;
                font-weight: bold;
            }
        }
        
        ul.secondary-menu > li {
            padding: 10px;
            height: 64px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:last-child {
                padding-right: 0;
            }
        }

        .dropdown-toggle::after {
            border-top: 5px solid #c0c0c0;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            margin-left: 30px;
        }
    }

}

.notification-dropdown-menu {
    border: 1px solid $color__gray100;
    background-color: $color__white;
    min-width: size(380);
    padding: 0;
    margin: 0;

    .notification-header {
        font-size: size(13);
        text-transform: uppercase;
        font-weight: 600;
        padding: size(15);
        background-color: $color__white;
        border-bottom: 1px solid $color__gray100;

        .btn-link {
            font-weight: bold !important;
            font-size: 11px;
            text-transform: uppercase;
            margin-left: size(15);
        }
    }

    .notifications {
        li.media {
            padding: size(25) size(15) size(15) size(20); 
            border-bottom: 1px solid #f1f1f1;

            h5 {
                font-size: size(12);
                margin-top: 0;
                margin-bottom: size(5);
            }
            p {
                font-size: size(12);
                margin-bottom: size(5);
            }

            .btn-link {
                font-weight: bold;
                font-size: 11px;
                text-transform: uppercase;
                color: $secondary;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }
    
}

.employeer-link {
    border-left: 1px solid #f1f1f1;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #374abf;
    font-weight: bold;
}

.text-dark {
    color: #484848;
}

.menu-profile.media {
    align-items: center;

	h6 {
		margin-bottom: 0;
	}
}

.job-search-section {
	background-image: linear-gradient(to left, #6f37bf, #b82ebf 100%);
    padding: 20px 0;
    
    .col {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;

        &.action-col {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .close-job-search-section {
                cursor: pointer;
                font-size: 18px;
                color: #fff;
            }
        }

        .form-group {
            position: relative;
            margin-bottom: 0;

            i {
                font-size: 18px;
                color: #b0b0b0;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }

            .form-control {
                padding-left: 50px;
                height: 60px;
            }
        }
        
    }

	.form-control {
		margin-bottom: 0 !important;
		border-radius: 2px;
    }
    
	.btn-primary {
		height: 60px;
		min-width: 200px;
        border-radius: 2px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0 !important;
    }
    background-color: #fff;
    border: solid 1px #f1f1f1;
}