.job-main-header {
	display: flex;
	align-items: flex-end;
    margin-bottom: 15px;
	span {
		display: inline-block;
		padding-left: 20px;
		font-weight: bold;
		font-size: 14px;
		color: #303030;
	}

	.job-detail-title {
		font-weight: 800;
		font-size: 30px;
		color: #594138;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.jobs-filter-block {
	margin-bottom: 30px;
	


    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include desktop-down() {
			margin-bottom: 10px;
		}

        li {
			margin-right: 10px;
			
			@include desktop-down() {
				margin-bottom: 10px;
			}

			&:last-child {
				margin-right: 0;
			}
        }
    }

	.btn-dropdown {
		border-radius: 2px;
		background-color: #ececec;
		font-size: 11px;
		font-weight: normal;
		padding: 12px 18px;
		height:auto;
	}
	.btn-dropdown.dropdown-toggle {
		&::after {
			margin-left: 10px;
		}
    }
	
	.col {
		@include desktop-down() {
			min-width: 100%;
		}

	}
    .job-filter-action-block {
		@include desktop-down() {
			min-width: 100%;
		}

        span {
            cursor: pointer; 

            &:not(:last-child) {
                margin-right: 18px;
            }
        }
    }
}

.job-list {
    margin-bottom: 20px;

    .job-card:last-child {
        margin-bottom: 0;
    }
}

.jobs-pagiblock {
    font-size: 12px;
    color: #707070;
    display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

    .pagi-nav span {
        cursor: pointer;

        &:first-child {
            margin-right: 25px;
        }
    }
}

.jobs-content {
    margin-bottom: 60px;
}

.section-title {
    margin-bottom: 20px;

    h4 {
        font-size: 16px;

        a {
            font-size: 13px;
        }
    }
}

.main-container {
    padding: 60px 0;
}

.slimScroll {
    height: 100vh;
    overflow: hidden;
	position: relative; 
	
	@include tablet-landscape-down() {
		height: auto !important;
	}

    &.mac-os {
        overflow: scroll;
    }
}

.scroll {
    border-radius: 10px;
}

.scrollBarContainer {
    width: 3px !important;

    &.animate .scroll {
        transition: 2s opacity ease;
        -ms-transition: 2s opacity ease;
        opacity: 0;
    }
}// blog-listing-page

.blogpage-title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}
.blog-listitem {
    color: #505050;
    margin-bottom: 50px;
    
	.imgholder {
		flex: 0 0 270px;
		height: 183px;
		margin-right: 30px;
		overflow: hidden;
		position: relative;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		.metatag {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 5px 15px;
			color: #fff;
			font-size: 12px;
		}
	}
	
	p {
		font-size: 13px;
		margin-bottom: 0;
	}
}
.blog-listing {
	padding-left: 0;
	list-style: none;
}
.blog-listitem-title {
    margin-bottom: 15px;
    font-size:16px;
    a{
        color:#505050;
    }
}
.green-bg{
    background-color: #24bf49;
}
.pink-bg{
    background-color: #b82ebf;
}
.purple-bg{
    background-color: #6f37bf;
}

.site-footer-wrapper {
    padding-top: 80px;
}

$overlay_opacity: 0.3; // 0-1

/* Video overlay and content */
.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
    opacity: $overlay_opacity;
}

.page-width {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100%;

    h2 {
        font-size: 70px;
        font-weight: bold;
        line-height: 1.29;
        color: #ffffff;
		margin-bottom: 50px;
		
		@include desktop-down() {
			font-size: 60px;
			margin-bottom: 45px;
		}

		@include tablet-landscape-down() {
			font-size: 50px;
			margin-bottom: 40px;
		}

		@include phone-only() {
			font-size: 38px;
			margin-bottom: 35px;
		}
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-flex;

        li:not(:last-child) {
			margin-right: 30px;

			@include phone-only() {
				margin-right: 15px;
			}
        }

        .btn {
            text-transform: uppercase;
            padding: 18px 40px;
            font-size: 16px;
			font-weight: 800; 
	
			@include tablet-landscape-down() {
				padding: 15px 30px;
				font-size: 15px;
				font-weight: 700;
			}
	
			@include phone-only() {
				padding: 15px;
				height: 50px;
			}

			@media (max-width: 325px) {
				font-size: 13px;
			}
        }
    }
}


.jquery-background-video-wrapper {
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
            background-size: cover;
            height: calc(100vh - 150px);
            min-height: 460px;
}
.jquery-background-video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-o-object-fit: contain;
	   object-fit: contain;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}
/**
 * Fade in videos
 * Note the .js class - so non js users still
 * see the video
 */
.js .jquery-background-video {
	opacity: 0;
	-webkit-transition: opacity 300ms linear;
			transition: opacity 300ms linear;
}
.js .jquery-background-video.is-visible {
	opacity: 1;
}

/**
 * Pause/play button
 */ 
.jquery-background-video-pauseplay {
	position: absolute;
	background: transparent;
	border: none;
	box-shadow: none;
	width: 20px;
	height: 20px;
	top: 15px;
	right: 15px;
	padding: 0;
	cursor: pointer;
	outline: none !important;
}
.jquery-background-video-pauseplay span {
	display: none;
}
.jquery-background-video-pauseplay:after,
.jquery-background-video-pauseplay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}
.jquery-background-video-pauseplay.play:before {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #FFF;
}
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
	border-top: 10px solid #FFF;
	border-bottom: 10px solid #FFF;
	border-left: 5px solid #FFF;
}
.jquery-background-video-pauseplay.pause:after {
	left: 10px;
}