.login-page-container {
    border-top: 1px solid $color__gray100;
    padding-top: 0;
    padding-bottom: 0; 
}

.full-height {
    height: calc(100vh - 71px);
} 
 
.login-form-block {
    margin: 1.5rem 0 1.5rem;
    
    .greeting-title {
        margin-bottom: size(40);

        h3 {
            @include font-size(30px);
            margin-bottom: 0;
    
            span {
                @include font-size(20px);
                margin-bottom: size(5);
                display: inline-block;
            }
        }
    }
    .form-groups-wrapper {
        margin-bottom: size(30);
    }
}


.has-banner-image {
    position: initial;

    @include phone-only() {
        display: none;
    }
    
    .banner-image {
        top: 0;
        left: 0;
        height: 100%;
        width: 45%;
        padding: 3rem;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-position: center;
        @include tablet-landscape-down  {
            padding:3rem 1rem;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(111, 55, 191, 0.2), #b82ebf);
            z-index: 2;
        }

        @include tablet-portrait-up {
            position: fixed;
            width: 45%;
        }
        
        @include tablet-landscape-up {
            width: 50%;
        }

        .slogan {
            position: relative;
            z-index: 3;
            color: #fff;
        }
        
    }
}