// terms-condition
.terms-condition {
	h3 {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 15px;
		color: #303030;
	}
	h4 {
		font-size: 20px;
		margin-bottom: 15px;
		color: #303030;
	}
	p {
		font-size: 13px;
		color: #303030;
		margin-bottom: 30px;
	}
}